.footer {
    position: relative;
}
.footer .footer__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(201, 200, 200, 0.589);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .footer__top .footer__top--left{
    flex-basis: 50%;
    color: black;
    text-align: center;
    padding: 60px 0  60px 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.footer .footer__top .footer__top--right{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer .footer__top .footer__top--right form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 46%;
}
.sent,
.footer .footer__top .footer__top--right form > a{
    width: 100px;
    line-height: 40px;
    height: 40px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    transition: 0.2s;
}
.sent:hover, 
.footer .footer__top .footer__top--right form > a:hover{
    background-color: rgb(243, 64, 64);
    transform: translateY(-2px);
}
.footer .footer__top .footer__top--right form input{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

textarea {
    margin-top: -5px;
    height: 185px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.footer__bottom {
    height: 500px;
    background-image: url(../../images/footer3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;

}
.footer__bottom .footer__bottom--box{
    flex-basis: 22%;
    margin-top: 20px;
    line-height: 40px;
    position: relative;
    text-shadow: 0 5px 10px red;
}
.footer__bottom .footer__bottom--box span{
    position: absolute;
    width: 70%;
    height: 2px;
    color: white;
    top: 35px;
    left: 0;
    background-image: linear-gradient(to right, red, black, red);
    background-size: 200%;
    transition: 0.5s;
}
.footer__bottom .footer__bottom--box:hover span{
    background-size: 100%;
}
.footer__bottom .footer__bottom--box p i{
    padding: 10px;
}
.footer__bottom .footer__bottom--box form{
    display: flex;
    flex-direction: column;
}
.footer__bottom .footer__bottom--box form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.sent {
    margin-top: 20px;
}

