.row {
    background-color: aqua;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
    
}
.row .col-1-of-2 {
    background-color: red;
    margin-bottom: 10px;
    display: inline-block;
    width: 49.5%;
}

.row .col-1-of-3 {
    background-color: red;
    margin-bottom: 10px;
    display: inline-block;
    width: 33%;
}

.row .col-2-of-3 {
    background-color: red;
    margin-bottom: 10px;
    display: inline-block;
    width: 66%;
}
