
$colorHover:#DD2379;
$colortext:#6e6e6e;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
  }
body{
    width: 100%;
    position: relative;
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: black;
        position: fixed;
        top: 0;
        z-index: 10;
        .logo {
            width: 30%;
           a{
            img {
                padding: 20px 0;
                display: block;
                margin-left: 100px;
             }
           }
        }
        .icon-menu {
            position: relative;
            display: none;
            color: white;
            font-size: 30px;
            padding: 20px 10px;
            .fa-bars {
                position: absolute;
            }
            .fa-remove {
                position: absolute;
                display: none;
            }
        }
    
        .menu {
            width: 70%;
            padding: 30px 0;
            nav {
                ul {
                    width:100%;
                    display: flex;
                    > li {
                        padding: 0 1.5%;
                        transition: 0.5s;
                        a {
                            color: white;
                            font-weight: 500;
                            transition: 0.5s;
                            &:hover {
                                color: $colorHover;
                            }
                            .text-icon {
                                display: flex;
                                flex-wrap: nowrap;
                                .fa-angle-down{
                                    padding-left: 3px;
                                }
                            }
                        }
                        .fa-angle-down, 
                        .fa-chevron-right {
                            color: $colorHover;
                        }
                        .fa-share-alt {
                            padding: 0 30px 0 10px;
                        }
                        &:hover #sub-menu {
                            display: block;
                        }
                        &:hover .sub-menu2b {
                            display: block;
                            top: 100%;
                        }
                    }
                    .header__icon {
                        margin-left: 3%;
                    }
                    #sub-menu {
                        position: absolute;
                        width: 200px;
                        border-radius: 10px;
                        background-color: white;
                        display: none;
                        nav {
                            > ul {
                                flex-direction: column;
                                > li {
                                    position: relative;
                                    padding: 12px 20px;
                                    transition: 0.5s;
                                    a {
                                        color: black;
                                    }
                                    &:hover > a{
                                        margin-left: 10px;
                                        color: $colorHover;
                                    }
                                    #sub-menu2 {
                                        position: absolute;
                                        top: 0;
                                        left: 80%;
                                        width: 200px;
                                        background-color: white;
                                        border-radius: 10px;
                                        display: none;
                                        nav {
                                            ul {
                                                li {
                                                    padding: 12px 20px;
                                                }
                                            }
                                        }
                                    }
                                    &:hover #sub-menu2 {
                                        display: block;
                                    }
                                }
                                .div__li {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: nowrap;
                                }
                            }
                        }
                    }
                    
                    .sub-menu2b {
                        display: none;
                        position: absolute;
                        top: 100%;
                        width: 100%;    
                        left: 0%;
                        background-color: white;
                        border-radius: 10px;
                        nav {
                            margin: 15px 0 15px 3%;
                            width: 90%;
                            display: flex;
                            justify-content: space-between;
                            ul {
                                flex-direction: column;
                                width: 100%;
                                li {
                                    padding: 10px;
                                    a{
                                        color: black;
                                        &:hover {
                                            color: $colorHover;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        font-family: 'Oswald', sans-serif;
        .content1{
            width: 100%;
            .container_content1{
                background-color: rgba(0, 0, 0, 0.582);
           .text{
               padding-top: 100px;
               text-align: center;
               font-size: 35px;
               color: white;
               padding-bottom: 50px;
           }
           .box{
               .music{
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   background-color: black;
                   border-bottom: 1px solid rgb(63, 62, 62);
                   margin: 0 9%;
                   color: white;
                   padding: 15px 30px;
                   .left{
                       display: flex;
                        align-items: center;
                       .music_text1{  
                           font-size: 20px;
                           padding-right: 20px;
                       }
                       .icon{
                           font-size: 30px;
                           padding-left: 10px;
                           padding-right: 10px;
                       }
                       img{
                           border-radius: 5px;
                       }
                       .icon:hover{
                           cursor: pointer;
                       }
                       .music_text2{
                           font-size: 22px;
                           span:nth-child(2){
                               color: #A1A1A1;
                           }
                       }
                   }
                   .right{
                       background-color: white;
                       color: #DC2878;
                       padding: 10px 50px;
                       border-radius: 5px;
                       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                   }
                  
               }
               .music:hover{
                   background-color: #1E1E1E;
                   .right{
                       background-color: #DC2878;
                       color: white;
                       cursor: pointer;
                   }
               }
               
            }
          
        }
            
    }
       .span{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .more{
        
            color: white;
            padding: 10px 10px;
            text-align: center;
            background-color: #DC2878;
            font-size: 17px;
            border-radius: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
        .more:hover{
            background-color: black;
            cursor: pointer;
        }
    
       
        .content2{
        
            width: 100%;
            padding-top: 100px;
            padding-bottom: 30px;

            .container_img{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 9%;
                .block_img{
                    border-radius: 5px;
                    margin: 15px 15px;
                    width: 28%;
                    height: 200px;
                    overflow: hidden;
                    .img{
                        border-radius: 5px;
                       height: 100%;
                       transition: 0.7s ease-in-out;
                       .img_in{
                           height: 100%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           color: white;
                           opacity: 0;
                           transition: 0.5s ease-in-out;
                           background-color: rgba(0, 0, 0, 0.788);
                           .text_content p{
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-size: 15px;
                                text-align: center;
                                padding: 10px 0;
                           }
                       }
                    }
                    .img:hover{
                        transform: scale(1.1);
                        .img_in{
                            opacity: 0.7;
                        }
                    }
                }
            }

        }
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 10px 10%;

    .content1{
        width: 30%;
        img{
            margin: 30px 0;
        }
        p{
            font-size: 18px;
            line-height: 30px;
            color:$colortext;
            padding-bottom: 30px;
        }
        .infor{
            display: flex;
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 30px;
            i{
                color: $colorHover;
                margin-right: 20px;
                font-size: 25px;
            }

        }
    }
    .content2{
        width: 30%;
        h4{
            font-size: 30px;
            padding: 20px 0;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
        }
        .text{
            display: flex;
            padding: 20px 0;
            i{
                color: $colorHover;
                font-size: 20px;
                padding-right: 20px;
                padding-top: 10px;
            }
            .text-content{
                color: $colortext;
                font-size: 18px;
                line-height: 30px;
                span{
                    color: black;
                    &:hover{
                        color: $colorHover;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .content3{
        //padding-left: 30px;
        h4{
            font-size: 30px;
            padding: 20px 0;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
        }
        .box{
            width: 30%;
            display: flex;
            img{
                width: 80%;
                padding: 10px 10px;
                transition: 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 500ms;
                    cursor: pointer;
                }
            }
        }
    }
  }
    .footer-end{
        position: relative;
        hr{
           opacity: 0.2;
            width: 80%;
            margin-left: 10%;
        }
        a{
            i{
                position: absolute;
                top: -25px;
                left: 47.5%;
                font-size: 50px;
                color: $colorHover;
                z-index: 999999;
                &:hover{
                    color: black;
                    transition-duration: 500ms;
                }
            }
        }
        p{
            text-align: center;
            font-size: 25px;
            color: $colorHover;
            &:hover{
                color: red;
                cursor: pointer;
            }
            padding-bottom: 20px;
        }
    }
  
}
@media(min-width:768px){
    body{
        .footer{
            width: 100%;
            display: flex;
            flex-wrap:nowrap;
        }
    }
}
@media (max-width: 767px){
    body{
        .container{
            .content1{
                .container_content1{
                    .text{
                        font-size: 25px;
                    }
                    .box{
                        .music{
                            flex-direction: column;
                            .left{
                                
                                .music_text1{
                                    font-size: 17px;
                                }
                                .music_text2{
                                    font-size:17px ;
                                }
                            }
                            .right{
                                width: 100%;
                                text-align: center;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            .content2{
                .container_img{
                    width: 100%;
                    .block_img{
                        width: 40%;
                    }
                }
            }
        }
        .footer{
            width: 100%;
            .content1{
                width: 40%;
            }
            .content2{
                width: 40%;
            }
            .content3{
                padding: 0 10%;
                .box{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){
    body{
        .container{
            .content2{
                .container_img{
                    width: 100%;
                    padding-left: 3%;
                    margin-top: -30px;
                    .block_img{
                        width: 90%;
                    }
                }
            }
            .span{
                .more{
                    font-size: 15px;
                }
            }
        }
        .footer{
            .content1{
                width: 100%;
            }
            .content2{
                width: 100%;
            }
            .content3{
                width: 100%;
            }
        }
    }
}