.content {
    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 400px;
}

.content__left {
    flex-basis: 20%;
    margin-left: 20px;
}
.content__left .search{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.content__left .search input{
    border: none;
    outline: none;
    color: #E2487C;
}
.content__left .search > i{
    cursor: pointer;
}
.content__left .search > i:hover{
    color: #DB1A5B;
}
.content__left .dark-night{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.content__left > h2{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.content__left .content__left--box-text{
    top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content__left .content__left--box-text a{
    text-decoration: none;
    padding: 15px;
    color: gray;
    transition: .5s;
}
.content__left .content__left--box-text a:hover{
    margin-left: 20px;
    color: #DB1A5B;
}

.content__left .content__left--box-text a span{
    padding-left: 10px;
}


.content__right {
    margin-top: 50px;
    flex-basis: 75%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.content__right .box{
    flex-basis: 23%;
    height: 300px;
    position: relative;
    margin: 0 15px 15px 0;
}
.content__right .box .box__img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.content__right .box .box__img > img{
    width: 100%;
    height: 100%;
}
.content__right .box .box__hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.405);
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.content__right .box:hover .box__hover{
    visibility: visible;
    opacity: 1;
}
.content__right .box .box__hover span{
    transition: .4s;
}
.content__right .box .box__hover .btn{
    flex-basis: 50%;
}
.content__right .box .box__hover .btn:nth-child(1){
    transform: translate(20%, -50%);
    background-color: rgb(140, 129, 235);
}
.content__right .box .box__hover .btn:nth-child(2){
    transform: translate(150%, -50%);
}



/*-------------------------section------------------*/
.section1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
}

.section1::before{
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/splash.jpg);
    background-size: 130%;
    background-position: center;
    mix-blend-mode: screen; 
}



/**/

.section2 {
    position: relative;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 90vh;
}

