

.smoke {
    height: 40vh;
    position: relative;
    background: #000;
}
/* tạo màu cho smoke */
.smoke::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    pointer-events: none;
}

.smoke h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; 
}
.smoke video {
    object-fit: cover;
    width: 100vw;
    overflow: hidden;
    height: 40vh;
    
}
.smoke h1 span {
    display: inline-block;
    animation: textAnimate2 1s linear forwards;
    opacity: 0;
}

.smoke h1 span:nth-child(1) {
    animation-delay: 1s;
}
.smoke h1 span:nth-child(2) {
    animation-delay: 1.5s;
}
.smoke h1 span:nth-child(3) {
    animation-delay: 1.7s;
}
.smoke h1 span:nth-child(4) {
    animation-delay: 1.8s;
}
.smoke h1 span:nth-child(5) {
    animation-delay: 2s;
}
.smoke h1 span:nth-child(6) {
    animation-delay: 2.3s;
}
.smoke h1 span:nth-child(7) {
    animation-delay: 2.6s;
}
.smoke h1 span:nth-child(8) {
    animation-delay: 2.9s;
}
.smoke h1 span:nth-child(9) {
    animation-delay: 3.1s;
}
.smoke h1 span:nth-child(10) {
    animation-delay: 3.45s;
}
.smoke h1 span:nth-child(11) {
    animation-delay: 3.65s;
}
.smoke h1 span:nth-child(12) {
    animation-delay: 3.85s;
}
.smoke h1 span:nth-child(13) {
    animation-delay: 4s;
}
.smoke h1 span:nth-child(14) {
    animation-delay: 4.15s;
}
.smoke h1 span:nth-child(15) {
    animation-delay: 4.35s;
}
.smoke h1 span:nth-child(16) {
    animation-delay: 4.5s;
}

@keyframes textAnimate2{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}
