@import 'variables';

.latest-new {
    width: 100%;
    height: 130vh;
    background: url(../images/bg/32.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .title {
        display: flex;
        justify-content: space-between;
        color: white;
        width: 80%;
        margin: auto;
        padding: 50px 0 0 0;
        h1 {
            font-size: 2.5vw;
        }
        a {
            color: $grayLight;
            transition: .5s;
            &:hover {
                color: white;
            }
        }
    }
    .slide {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: auto;
        width: 450vw;
        // margin-right: 300px;

        left: -28%;
        
        .slide1, .slide2, .slide3 {
            // position: absolute;
            // margin-left: 100px;
            width: 45vw;
            height: 90vh;
            // margin-left: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        // .slide1 {
            
        // }
    }
}