@import 'variables';

.radio-music {
    padding: 80px 0;
    width: 100%;
    background-image: url(../images/bg/21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &__content {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        .content--img {
            width: 50%;
            img {
                @include size-img;
            }
        }
        .content--text {
            width: 47%;
            h1 {
                padding: 15px 0;
                font-size: 40px;
            }
            .box-img {
                display: flex;
                flex-wrap: wrap;
                padding: 50px 0 0 0;
                img {
                    padding-right: 10px;
                }
            }
        }
    }
}