@import 'variables';

.weekly-sehedule {
    width: 80%;
    margin: auto;

    > h1 {
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        padding: 80px 0 50px 0;
    }

    .schedule {
        display: flex;
        justify-content: space-between;
        
        .box {
            width: 14%;
            font-size: 16px;
            span {
                display: block;
                background-color: $colorHover;
                height: 2px;
                width: 100%;
                margin: 10px 0 20px 0;
            }
            .box-child {
                height: 150px;
                width: 100%;
            }
        }
    }
}